.git
.github
.idea
.env
.env.example
Dockerfile
docker-compose.yml
docker-compose.override.yml
services
README.md
app/node_modules
app/dist
app/.env
app/.env.example
app/.cache
app/.npm
app/*.sqlite
app/.github
app/.dockerignore
app/.eslintignore
app/.gitignore
app/eslint.config.js
app/jsconfig.json
app/README.md
app/LICENSE
